env24/
*.mp4
.venv
################### what should be in gitignore for python projects
__pycache__/

## temporarily added Django project to gitignore, remove it later
# python28/

### this uses jupiter... use it later
# python26/   