aiohttp
async_timeout
asyncio

boto3

dill        ###

fasttext
flask

gensim

humps

matplotlib

nltk
numpy

openai

pandas
pyenchant
python-dotenv
pytube

sanic
scikit-learn
scipy
spacy
### already installed... pip wont install again, but first downloads tar file... so, commenting
# https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1.tar.gz
# https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

### old, not compatible with spacy3.7.1
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz

# tkinter           ### USE THIS ====> sudo apt-get install python3-tk

vaderSentiment